{% extends "home/base.html" %} 
{% block title %}Gallery{% endblock %} 
{% load static %} 
{% block content %}
<h1 class="text-center mb-4">Gallery</h1>
<div class="row g-3">
  {% for media in media_files %}
  <div class="col-md-4">
    <div class="card card-fixed-height">
      {% if media.is_image %}
      <img
        src="{{ media.file.url }}"
        class="card-img-top"
        alt="Imagen no disponible"
      />
      {% elif media.is_video %}
      <video controls class="card-img-top">
        <source src="{{ media.file.url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ media.title }}</h5>
        <p class="card-text">{{ media.description }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}