{% extends "home/base.html" %} {% block title %}Gallery{% endblock %} {% load
static %} {% block content %}
<h1 class="text-center mb-4">Gallery</h1>
<div class="row g-3">
  {% for image in images %}
  <div class="col-md-4">
    <div class="card">
      <img
        src="{{ image.image.url }}"
        class="card-img-top"
        alt="Imagen no disponible"
      />
      <div class="card-body">
        <h5 class="card-title">{{ image.title }}</h5>
        <p class="card-text">{{ image.description }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="row g-3 mt-4">
  {% for video in videos %}
  <div class="col-md-4">
    <div class="card">
      <video controls class="card-img-top">
        <source src="{{ video.url }}" type="video/mp4" />
      </video>
      <div class="card-body">
        <h5 class="card-title">{{ video.title }}</h5>
        <p class="card-text">{{ video.description }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
