{% extends "home/base.html" %} {% block title %}Home{% endblock %} {% load
static %} {% block content %}
<div class="text-center">
  <h1 class="mb-4">Welcome to Media Manager</h1>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <a href="/videos/" class="btn btn-primary btn-lg w-100 mb-3"
        >Upload Videos</a
      >
    </div>
    <div class="col-md-4">
      <a href="/images/" class="btn btn-success btn-lg w-100 mb-3"
        >Upload Images</a
      >
    </div>
    <div class="col-md-4">
      <a href="/gallery/" class="btn btn-info btn-lg w-100 mb-3"
        >View Gallery</a
      >
    </div>
  </div>
</div>
{% endblock %}
