body {
  font-family: "Poppins", sans-serif, Helvetica;
  background-color: #f5f5f5;
  color: #012231;
  margin: 0;
  padding: 0;
}
header {
  background-color: #012231;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
header .site-title {
  font-size: 1.8em;
  text-align: left;
  flex-grow: 1;
  margin: 10px;
}

header .logo img {
  height: 50px;
}
nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style: none;
}
nav ul li img {
  height: 25px;
  cursor: pointer;
}
main {
  display: flex;
  margin: 20px;
}
aside.sidebar-left,
aside.sidebar-right {
  width: 15%;
  background-color: #cfd6da;
  padding: 20px;
}
section.car-listing {
  width: 70%;
  padding: 0 20px;
}
.filters input {
  width: 97%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #b2bcc0;
  border-radius: 5px;
}
.car {
  display: flex;
  border: 1px solid #b2bcc0;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #ffffff;
}
.car img {
  width: 150px;
  height: 100px;
  margin-right: 20px;
}
.car-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.car-info h3 {
  margin: 0;
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
}
.btn-comprar {
  background-color: #16384e;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-comprar:hover {
  background-color: white;
  color: #16384e;
  border: 1px #16384e solid;
}
footer {
  background-color: #012231;
  color: #ffffff;
  padding: 40px 20px;
  text-align: left;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-contact,
.footer-social {
  width: 45%;
}

.footer-contact h4,
.footer-social h4 {
  font-size: 1.2em;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  color: #d5d8d7;
}

.footer-contact p {
  margin: 5px 0;
}

.footer-social a {
  margin-right: 15px;
}

.footer-social a img {
  width: 30px;
  height: 30px;
  margin: 5px;
  transition: transform 0.3s ease;
}

.footer-social a:hover img {
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #b2bcc0;
  margin-top: 30px;
  font-size: 0.9em;
}
