{% extends "portfolio/base.html" %} {% block content %}

<div class="container">
  <!-- Header -->
  <header class="portfolio-header">
    <h1>Portfolio Project</h1>
    <p>Welcome to my portfolio</p>
  </header>

  {%load static%}
  <!-- Static Image -->
  <div class="text-center mb-4">
    <img
      src="{% static 'portfolio/git.png' %}"
      alt="GitHub"
      class="img-fluid"
      style="max-height: 150px"
    />
    <a href="{% static 'portfolio/busca_ima_Luis_Souto.pdf' %}">Buscar img</a>
    <a href="{% url 'blog:all_blogs' %}">Blog</a>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for project in projects %}
    <div class="col">
      <div class="card h-100 shadow-sm">
        <img
          src="{{project.image.url}}"
          class="card-img-top"
          alt="Project Image"
        />
        <div class="card-body">
          <p class="card-text">{{project.description}}</p>
        </div>
        {% if project.url %}
        <div class="card-footer">
          <a
            href="{{project.url}}"
            class="btn btn-primary w-100"
            target="_blank"
            rel="noopener noreferrer"
          >
            View Project
          </a>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
